<div class="container">

  <h2>My Heroes</h2>

  <label>
    Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="btn btn-success" (click)="add(heroName.value); heroName.value=''">
    add
  </button>


  <div class="container-margin">
    <app-hero-detail *ngIf="selectedHero" [hero]="selectedHero"></app-hero-detail>

    <div class="row">
      <div *ngFor="let hero of heroes" class="col-md-3 bordered">
        <button class="btn btn-secondary" routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </button>
        <button class="btn btn-danger" title="delete hero" (click)="delete(hero)">
          x
        </button>
      </div>
    </div>
  </div>
</div>